<div fxLayout="column">
    <div>
        <h1>Buscador de Héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field>
            <input type="text"
                   placeholder="Ingrese el héroe que desea buscar"
                   aria-label="Number"
                   matInput
                   [(ngModel)]="termino"
                   [matAutocomplete]="auto"
                   (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="opcionSeleccionada( $event )">
                <mat-option *ngIf="heroes.length === 0 && termino" [value]="">
                    No se encontro ningún heroe con el termino: {{ termino }}
                </mat-option>
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <div fxFlex="20" fxFlex.lg="50" fxFlex.sm="30" *ngIf="heroeSeleccionado">
            <app-heroe-tarjeta [heroe]="heroeSeleccionado" style="height: 50px important;"></app-heroe-tarjeta>
        </div>
        <div *ngIf="heroeSeleccionado">
            <pre>{{ heroeSeleccionado | json }}</pre>
        </div>
    </div>
</div>